@media (max-width: 640px) {
    table {
        width: 100%;
    }
    td {
        display: block;
        width: 100%;
    }
    th {
        display: none;
    }
    td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
    }
    tr {
        margin-bottom: 1em;
    }
    .flex {
        flex-direction: column;
    }
    .w-\[175px\] {
        width: 100%;
    }
}